<table  border="1" cellspacing="10">
	<colgroup width="170"></colgroup>
	<colgroup width="170"></colgroup>
	<colgroup width="170"></colgroup>
	<colgroup width="170"></colgroup>
	<tr>
		<td height="25" align="left" valign=top><br></td>
		<td align="left" valign=top><br></td>
		<td align="left" valign=top><b> Action Series Id</b></td>
		<td align="left" valign=top><br></td>
	</tr>
	<tr>
		<td height="50" align="left" valign=top><br></td>
		<td align="left" valign=top><br></td>
		<td align="left" valign=top> Enter <br>"&lt;NewActionSeries&gt;"</td>
		<td align="left" valign=top> Enter<br>Action Series Id,<br> e.g. "1234"</td>
	</tr>
	<tr>
		<td height="50" align="left" valign=top><b> Action Instance Id</b></td>
		<td align="left" valign=top> Enter<br>"&lt;NewActionInstance&gt;"</td>
		<td align="left" valign=top> Case 1) [Default]<br>"New Action Series"<br>(New Action Instance)</td>
		<td align="left" valign=top> Case 2) <br>"New Action Instance"</td>
	</tr>
	<tr>
		<td height="50" align="left" valign=top><br></td>
		<td align="left" valign=top> Enter<br>Action Instance Id,<br> e.g. "1234"</td>
		<td align="left" valign=top> Case 4) <br>"New Action Series"<br>(Old Action Instance)<br></td>
		<td align="left" valign=top> Case 3) <br>"New Action Version"</td>
	</tr>
</table>